<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("be0aad10-e16b-47b2-b04c-63e3fce933fb");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
